html, body { 
  margin: 0px;
  width: 100%;
  height: 100%;
  margin: 5%;
}
.button {
  display:inline-block;
  width:25%;
  height:20%;
  background: red;
  float: left;
  margin:2%;
}

.boxBlue {  
  background: blue;
}

.boxGrey {
  background: grey;
}



.boxRedMd{
  display:inline-block;
  width:28%;
  height:50%;
  background: red;
}

.boxBlue.Large{
  width:55%;
  height:50%;
  color:blue;
  margin-left: -2%;
}



.boxBlue.Long{
  display: inline-block;
  color:blue;
  width:55%;
  height:20%;
}

.boxRed.short{
  margin-left:-19px;
  width:28%;
}


.child {
  background: grey;
  width:80%;
  height: 100%;
  margin-left: 19px;
}


.text{ 
  padding: 20px;
  width: 80%;
  font:20px Helvetica, Arial, sans-serif;
}